<!--
<form class="form-inline" class="form-group" >
    <table>
        <tr>
    <td><label >From</label></td>
    
    <td><input type="text"  class="form-control" size=30 id="from"><br></td>
    </tr>
    <tr>
   <td> <label for="to">To</label></td>
   
  <td> <select name="TO"class="form-control"   id="to" >
            <option value="consumer">consumer</option>
            <option value="processing unit">processing unit</option>
            <option value="godown">godown</option>
            <option value="distributor">distributor</option>
    </select></td>
    
    </tr>  
 <tr>
   <td> <label>Item</label></td>
  <td> <select name="item"class="form-control"  style="width:100px"id="item" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
 3   </select></td>
    
    </tr> 
   
    <td><label>Cost</label></td>
    <td><input type="text"  class="form-control" id="cost"><br></td>
    </tr>       

<tr>
    <td><pre>&nbsp</td>
        <td>
        <input type="submit"  style="background-color:#824282;color:wheat"class="form-control">   
    </td>
    </tr>
</table>

 

</form>

-->