<div class="container">
<p><span> <img src="../../../assets/products.png"> </span>{{element.name}}</p><br>
<p><span> <img src="../../../assets/products.png"> </span>{{element.quantity}}</p><br>
<p><span> <img src="../../../assets/shop.png"> </span>{{element.location}}</p><br>
<p><span> <img src="../../../assets/dollar.png"> </span>{{element.cost}}</p><br>
<p><span> <img src="../../../assets/user.png"> </span>{{element.owner}}</p><br>

<button class="optBtn mlink" (click)="seeTrack()" >Sell/Transact</button>
<button class="optBtn mlink" (click)="TransactItem()">Sell/Transact</button>

</div>
<br>

